{{ link-to 'Back to list of orgs' 'orgs'}}

<!-- {{ log content}} -->

<h4><img src={{content.avatar_url}} alt="avatar" height="25px"/>{{content.name}} <a target="_blank" href={{content.html_url}}>Github</a> </h4>

{{outlet}}
